* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#main-navbar, .section-wrapper {
    width: 75%;
    margin: auto;
}
/* General styles - Fonts, Colors, ect. */
body {
    background-color: #020202;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    
}
#page-container {
    position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}

h1 { 
    font-size: 4em;
 }

h2 { 
    font-size: 2.5em; 
}

h3 {
    font-size: 1.2em;
}

.icon-container {
    font-size: 1.2em;
}

h1, h2, .custom-button { 
    font-weight: 300; 
}

h3, h4, h5, h6 { 
    font-weight: 400; 
}

h1, h2, h3, h4, h5, h6, 
.logo-link, .nav-link,
.author, .fa-star, .controls { 
    color: #fff; 
}

p {
    font-size: 16px;
    padding: 1em 0;
}

p, .socialmedia-icon {  
    color: #a9a9a9; 
}

#projects h2, #projects h3 {
    color: #020202;
    font-weight: 400;
}

ul { 
    list-style-type: none; 
}

a { 
    text-decoration: none; 
}

.lead, .socialmedia-icon { 
    color: #fff;
    opacity: 0.7; 
}

.socialmedia-icon:hover { 
    opacity: 1; 
}

button {
    width: 150px;
    padding: 1em;
    border: none;
    border-radius: 0.2em;
    margin-top: 3%;
    font-size: 16px;
    cursor: pointer;
}

.button-fill {
    position: absolute;
    top: -5%;
    left: 0;
    width: 0;
    height: 111%;
    border-radius: 0.2em;
}

.contact-button {
    border: 1px solid #fff;
    color: #fff;
    background-color: #020202;
    position: relative;
    
}

.contact-button a {
    color: #fff;
}

.contact-button:hover {
    transition: background-color ease 0.4s;
}

.contact-button:hover .button-fill {
    width: 101%;
    background-color: #fff;
    transition: width ease 0.4s;
    
}

.contact-button:hover a{
    color: #020202;
    z-index: 3;
    position: relative;
    transition: color ease 0.3s;
}

.section-button {
    margin: 2em 0 0;
    background-color: #020202;  
    border: 1px solid #020202;
}

.section-button a {
    color: #fff;
}

.secondary-button:hover {
    background-color: #0e0e0e;
    transition: background-color ease 0.3s;
}

.secondary-button {
    background-color: #fff;
    border: 1px solid #020202;
}

.secondary-button a {
    color: #020202;
}

.secondary-button:hover a {
    color: #fff;
}

.button-mobile, .project-header-mobile, .nav-button {
    display: none;
}

/* Top Header - Navbar Style */
#main-header {
    padding: 3em 0 1em;
    z-index: 5;
}

#main-navbar {
    overflow-x: hidden;
}

.logo-wrapper {
    z-index: 11;
}

.nav-container, .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link:hover {
    text-decoration: underline;
}

.navigation {
    gap: 5em;
}

.nav-item {
    padding: 1em 0;
}

/* Mobile navigation */
#mobile-navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 2em;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    transition: right 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.navigation-mobile .nav-link {
    font-size: 2em;
}

.contact-info {
    padding:0;
}

.navigation-mobile a {
    color:#020202;

}

.navigation-mobile-wrapper p{
    padding: 0;
    color: #020202;
}

.nav-button {
    position: relative;
    height: 30px;
}

.bar {
    height: 2px;
    width: 100%;
    margin: 25% 0;
    background-color: #fff;
    position: absolute;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.bar:nth-child(1) {
    top: 0;
}

.bar:nth-child(2) {
    width: 50%;
    bottom: 0;
}

.bar:nth-child(1).bar-active {
    transform: rotate(42deg);
				top: 7px;
                background-color: #020202;
}

.bar:nth-child(2).bar-active {
    transform: rotate(-42deg);
    width: 100%;
	bottom: 7px;
    background-color: #020202;
}

#mobile-navbar.nav-active {
    right: 0;
    
}

/* Hero style */
#hero {
    padding: 5em 0 8em 0;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 1.5em;
}

/* About style */
#about {
    padding: 5em 0;
    text-align: center;
    background-color: #080808;
}

.section-header {
    padding: 2em 0;
    text-align: center;
}

.section-row-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3em;
    padding: 2em 0;
    width: 100%;
}

.row-box {
    width: 33.333333%;
}

.icon-img {
    padding: 1em 0;
}

/* Projects section */
#projects {
    background-color: #fff;
    padding: 5em 0;
}



#projects header {
    text-align: center;
    padding: 0 0 5em;
}

#projects header .lead {
    color: #252525
}
.project-content .lead {
    font-size: 3em;
    font-weight: 700;
    opacity: 0.1;
    padding: 0.5em 0;
    width: 100%;
}
.project-content p {
    width: 80%;
    color: #5e5e5e;
}


.projects-container {
    padding: 5em 0;
    width: 85%;
    margin: auto;
}

.projects-img {
    width: 100%;
}


/* The Lab style */
#the-lab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.575)), url(images/Phone\ and\ Tablet\ Mockup\ for\ Promo\ Fashion\ Instagram\ Post.svg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

}

/* Testimonials style */
#testimonials{
    padding: 5em 0;
    background-color: #080808;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.review-container {
    padding: 3em 0;
    overflow: hidden;
}

.slide-background {
    width: 50%;
    height: 30vh;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    border: 3px solid #0e0e0e;
}

.slides-container {
    width: 300%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

.slide {
    position: relative;
    border-radius: 0.2em;
    flex-basis: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    padding: 1em;
}
.slide-content {
    width: 80%;
    z-index: 1;
    position: relative;
}

#controls {
	width: 60%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.controls {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	cursor: pointer;
    opacity: 0.6;
}

.controls span {
    font-size: 0.6em;
}

.controls:hover {
    transition: opacity ease 0.2s;
    opacity: 1;
}

#bullets {
	margin: 0 auto;
	list-style: none;
    z-index: 1;
    position: relative;
}

#bullets li {
	display: inline-block;
	width: 10px;
	height: 10px;
	background:  #444;
	border-radius: 100%;
	margin: 0 5px;
}

#bullets li.selected {
	background-color: #ccc;
}


/* Contact style */
#contact {
    padding: 7em 0;
   
}

#contact h2 {
    font-size: 3.5em;
}

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact .icon-container {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 1.5em;
}

.section-right {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
}

.card-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.card-container p {
    padding: 0.3em 0;
}

.profile-img-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: url(images/Jarol-Riera-Web-Developer-Profile-Picture-min-mobile.jpg);
}


/* Footer style */
#main-footer {
    padding: 2em;
    text-align: center;
}

.credit {
    opacity: 0.7;
    font-size: 0.7em;
}

/* Contact Modal */

.contact-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.contact-modal .section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 500px;
    padding: 5em;
    border-radius: 0.2em;
}

.contact-modal-left {
    background-color: #0a0a0a;
    height: 100%;
    padding: 2em;
}

.contact-modal-right {
    background-color: #252525;
    height: 100%;
    padding: 2em;
}

/* Responsive mobile */

@media screen and (max-width: 400px) {

    h1, #contact h2 {
        font-size: 2em;
    }

    h2{
        font-size: 1.5em;
    }

    .button-mobile, .project-header-mobile, .navigation-mobile {
        display: block;
    }
    .navigation, .project-content,
    .slide-background {
        display: none;
    }
    #controls {
        width: 100%; 
    }

    #controls img {
        width: 22px;
    }


    #main-navbar, .section-wrapper {
        width: 80%;
    }

    #main-header {
    padding: 1.5em 0 1.5em;
   
}

    .nav-button {
        width: 30px;
        display: block;
        z-index: 11;
}

    #hero {
        padding: 5em 0 7em 0;
    }

    #hero, #contact {
        padding: 5em 0;
    }

    .hero-container, .contact-wrapper,
    .section-row-container  {
        flex-direction: column;
    }

    .icon-container {
        gap: 1em;
        flex-direction: row;
    }

    #testimonials {
        padding: 2em 0;
    }

    #the-lab {
        background-attachment: scroll;
    }
    #the-lab img {
        width: 60%;
    }

    .hero-right, .section-right, .card-container {
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 2em 0 0 0;
    }

    .card-container {
        text-align: left;
    }

    .row-box {
        width: 100%;
    }

    .projects-container {
        padding: 3em 0;
    }

    .project-media {
        padding: 1em 0;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2em;
    }

    .button-mobile {
        margin: auto;
    }

    .project-media .lead {
        font-size: 2.5em;
        font-weight: 700;
        opacity: 0.3;
        padding: 0 0;
        width: 100%;
    }

    .transition-container {
        margin-top: -3%;
    }

    .review-container, .slides {
        padding: 0;
    }

    .review-container, .slide-content {
		width: 100%;
	}


}