* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#main-navbar, .section-wrapper {
    width: 75%;
    margin: auto;
}
/* General styles - Fonts, Colors, ect. */
body {
    background-color: #020202;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    
}
#page-container {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
}

h1 { 
    font-size: 4em;
 
 }

 h1 span {
     font-weight: 700;
     font-size: 1.15em;
 }

h2 { 
    font-size: 2.5em; 
}

h3 {
    font-size: 1.2em;
}

#projects h3 {
   font-size: 1.5em;
}

.hero-title p, #contact header p {
    font-size: 1.2em;
}

h1, h2 { 
    font-weight: 300; 
}

h3, h4, h5, h6 { 
    font-weight: 400; 
}

 h1, h2, h3, h4, h5, h6, 
.logo-link, .nav-link,
.author, .fa-star, .controls, .card-name{ 
    color: #fff; 
}

p {
    font-size: 16px;
    padding: 1em 0;
    color: #a9a9a9; 
}

#projects h2, #projects h3 {
    color: #020202;
    font-weight: 400;
}

ul { 
    list-style-type: none; 
}

a { 
    text-decoration: none; 
}

.lead { 
    color: #fff;
    opacity: 0.9; 
}

.socialmedia-icon:hover { 
    opacity: 1; 
}

button {
    width: 150px;
    padding: 1em;
    border: none;
    border-radius: 0.2em;
    margin-top: 3%;
    font-size: 16px;
    cursor: pointer;
}

.button-fill {
    position: absolute;
    top: -5%;
    left: 0;
    width: 0;
    height: 111%;
    border-radius: 0.2em;
}

.contact-button {
    border: 1px solid #fff;
    color: #fff;
    background-color: #020202;
    position: relative;
    
}

.contact-button a {
    color: #fff;
}

.contact-button:hover {
    transition: background-color ease 0.4s;
}

.contact-button:hover .button-fill {
    width: 101%;
    background-color: #fff;
    transition: width ease 0.4s;
    
}

.contact-button:hover a{
    color: #020202;
    z-index: 3;
    position: relative;
    transition: color ease 0.3s;
}

.section-button {
    margin: 2em 0 0;
    background-color: #020202;  
    border: 1px solid #020202;
}

.section-button a {
    color: #fff;
}

.secondary-button:hover {
    background-color: #0e0e0e;
    transition: background-color ease 0.3s;
}

.secondary-button {
    background-color: #fff;
    border: 1px solid #020202;
}

.secondary-button a, .contact-info p, .social-media-nav-mobile a {
    color: #020202;
}

.secondary-button:hover a {
    color: #fff;
}

.button-mobile, .project-header-mobile, .nav-button {
    display: none;
}

/* Top Header - Navbar Style */
#main-header {
    padding: 2em 0 2em;
    z-index: 5;
    height: 10vh;
    background-color: #020202;
}

#main-navbar {
    overflow-x: hidden;
}

.logo-wrapper {
    z-index: 11;
}

.nav-container, .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.navigation {
    gap: 5em;
}

.nav-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.navigation .nav-link, .social-media-nav .nav-link {
    position: relative;
}

.fill-link {
    opacity: 0;
}

.rotating-link {
    left: 0;
    margin: -20px 0 0 0;
    position: absolute;
    top: 0;
    transition: 
        transform cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.2s, 
        opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.1s;
}

.rotating-link:nth-child(1) {
    opacity: 1;
}

.rotating-link:nth-child(2) {
    margin-top: 20px;
}

.nav-item:hover .rotating-link:nth-child(1) {
    transform: translate3d(0, -25px, 0);
    opacity: 0;  
}

.nav-item:hover .rotating-link:nth-child(2) {
    transform: translate3d(0, -40px, 0);
    opacity: 1;
    text-decoration: underline;
}


#main-header.active {
    padding: 0.5em 0;
    transition: all ease 0.7s;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.084);
}

.nav-link.active {
    color: #020202;
    transition: all ease 0.7s;
}

#main-header img.active {
   -webkit-filter: invert(1);
   filter: invert(1);
    transition: all ease 0.7s;
}

.bar.active {
    background-color: #020202;
    z-index: 10;
}

/* Mobile navigation */
#mobile-navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 2em;
    z-index: 6;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
    transition: right 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.navigation-mobile {
    padding-top: 5em;
    opacity: 0;
    margin-top: -50px;
    transition: 
        opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.2s,
        margin-top cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.2s ;
}
.navigation-mobile .nav-item {
    padding: 0.5em 0;
}

.contact-info, .social-media-nav-mobile{
    opacity: 0;
    padding:0;
}

.fade-up {
    opacity: 1;
    margin-top: 0;
}

.navigation-mobile .nav-item:nth-child(1).fade-up {
    animation: fade-up-first;
    animation-duration: 1s;
    animation-timing-function: ease;
    transition: animation ease 0.5s;

}

.navigation-mobile .nav-item:nth-child(2).fade-up {
    animation: fade-up-second;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 50ms;
    opacity: 1;
    transition: 
        animation ease 0.5s,
        opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.2s;
}

.navigation-mobile .nav-item:nth-child(3).fade-up {
    animation: fade-up-third;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 150ms;
    opacity: 1;
    transition: 
        animation ease 0.5s,
        opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.3s;
    
}

.navigation-mobile .nav-item:nth-child(4).fade-up {
    animation: fade-up-third;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 200ms;
    opacity: 1;
    transition: 
        animation ease 0.5s,
        opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.4s;  
}

.contact-info.fade-up {
    animation: fade-up-fourth;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 300ms;
    transition: animation ease 0.5s;
    opacity: 1;
    transition: 
        opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.5s;
}

.social-media-nav-mobile.fade-up {
    animation: fade-up-last;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 400ms;
    transition: animation ease 0.5s;
    opacity: 1;
    transition: 
        opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.6s;
}

@keyframes fade-up-first {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-up-second {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-up-third {
   0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-up-fourth {
   0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes fade-up-last {
   0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.navigation-mobile .nav-link {
    font-size: 2em;
}


.navigation-mobile a, .social-media-nav-mobile .nav-item .nav-link {
    color:#020202;
}

.social-media-nav-mobile .nav-item {
    padding: 0.1em 0;
  
}

.navigation-mobile-wrapper p {
    padding: 0;
    color: #020202;
}

.nav-button {
    position: relative;
    height: 30px;
    z-index: 11;
}

.bar {
    height: 2.5px;
    width: 100%;
    margin: 23% 0;
    background-color: #fff;
    position: absolute;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    z-index: 12;
}

.bar:nth-child(1) {
    top: 0;
}

.bar:nth-child(2) {
    
    bottom: 0;
}

.bar:nth-child(1).bar-active {
    transform: rotate(43deg);
				top: 8px;
                background-color: #020202;
}

.bar:nth-child(2).bar-active {
    transform: rotate(-43deg);
    width: 100%;
	bottom: 7px;
    background-color: #020202;;
}

#mobile-navbar.nav-active {
    position: fixed;
    right: 0;
}


/* Hero style */
#hero {
    padding: 0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-right img {
   width: 80%;
}

.hero-right {
    width: 35%;
    text-align: end;
}
.hero-left {
    width: 65%;
}



/* About style */
#about {
    padding: 5em 0;
    text-align: center;
    background-color: #080808;
}



.section-header {
    padding: 2em 0;
    text-align: center;
}

.section-row-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3em;
    padding: 2em 0;
    width: 100%;
}

.row-box {
    width: 33.333333%;
}

.icon-img {
    padding: 1em 0;
}

/* Projects section */
#projects {
    background-color: #fff;
    padding: 5em 0;
}

#projects header {
    text-align: center;
    padding: 0 0 5em;
}

#projects header .lead {
    color: #252525
}
.project-content .lead {
    font-size: 3em;
    font-weight: 700;
    opacity: 0.1;
    padding: 0.5em 0;
    width: 100%;
}
.project-content p {
    width: 80%;
    color: #5e5e5e;
}


.projects-container {
    padding: 5em 0;
    width: 85%;
    margin: auto;
}

.projects-img {
    width: 100%;
}

/* Benefits style */
#benefits{
   background-color: #F7F8FA;
   padding: 5em 0;
}
#benefits .section-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 7em;
}

#benefits .section-header {
    padding: 0;
}

#benefits .section-content-left  {
  width: 50%;
}

#benefits .section-content-right  {
  width: 50%;
}

.section-content-right .benefit-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  font-size: 1.5em;
  padding: 0.5em 0 0.5em 0;
  border-bottom: 2px solid #ececec;
}

#benefits .section-button {
    width: 35%;
}

#benefits header {
    text-align: left;
}

#benefits h2 {
    font-weight: 400;
}

#benefits h2, #benefits h3, #benefits h4{
    color: #020202;
}

#benefits h3 {
  font-size: 2.5em;
  color: #d5d5d5;
  font-weight: 500;
}

#benefits h4 {
    font-weight: 500;
}

#benefits .lead {
    font-size: 1.2em;
    color: #020202;
    opacity: 1;
    font-weight: 500;
}

.benefit-text {
    color: #252525;
}

/* Testimonials style */
#testimonials{
    padding: 5em 0;
    background-color: #080808;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.review-container {
    padding: 3em 0;
    overflow: hidden;
}

.slide-background {
    width: 50%;
    height: 27vh;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    border: 3px solid #0e0e0e;
    border-radius: 0.2em;
}

.slides-container {
    width: 300%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

.slide {
    position: relative;
    border-radius: 0.2em;
    flex-basis: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    padding: 1em;
}

.slide-content {
    width: 90%;
    z-index: 1;
    position: relative;
}

#bullets {
	margin: 0 auto;
	list-style: none;
    z-index: 1;
    position: relative;
}

#bullets li {
	display: inline-block;
	width: 40px;
	height: 2px;
	background-color:  #444;
	margin: 0 5px;
    cursor: pointer;
}

#bullets li.selected {
	background-color: #ccc;
}


/* Contact style */
#contact {
    padding: 7em 0;
}

#contact h2 {
    font-size: 3.5em;
}

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-right {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
}

.card-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.card-container p {
    padding: 0.3em 0;
}

.profile-img-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: url(images/Jarol-Riera-Web-Developer-Profile-Picture-min-mobile.jpg);
}
.social-media-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 1.5em;
}




/* Footer style */
#main-footer {
    padding: 2em;
    text-align: center;
    
}

.credit {
    opacity: 0.7;
    font-size: 0.7em;
}

/* Contact Modal */

.contact-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.contact-modal .section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 500px;
    padding: 5em;
    border-radius: 0.2em;
}

.contact-modal-left {
    background-color: #0a0a0a;
    height: 100%;
    padding: 2em;
}

.contact-modal-right {
    background-color: #252525;
    height: 100%;
    padding: 2em;
}

/* Responsive mobile */

@media screen and (max-width: 450px) {

    h1, #contact h2 {
        font-size: 2.1em;
    }

    h1 span {
     font-weight: 500;
     font-size: 1em;
 }

    .hero-title p, #contact header p {
    font-size: 1.15em;
    }

    h2{
        font-size: 1.5em;
    }

    #benefits h3 {
        font-size: 1.5em;
        display: block;

    }

     #benefits h4 {
        font-size: 0.75em;
    }

    .logo-link img {
        width: 35%;
    }

    .button-mobile, .project-header-mobile, .navigation-mobile {
        display: block;
    }
    .navigation, .project-content,
    .slide-background {
        display: none;
    }
    #controls, #benefits .section-content-left,
    #benefits .section-content-right, 
    .benefit-text, .hero-title p, .hero-left, .hero-right {
        width: 100%; 
    }

    #benefits, #benefits header {
        text-align: center;
    }

    #benefits .section-button {
        width: 60%;
    }

    #controls img {
        width: 22px;
    }


    #main-navbar, .section-wrapper {
        width: 80%;
    }

    #hero {
        height: 80vh;
    }

    #hero {
        position: relative;
    }

    .hero-right img {
        position: absolute;
        top: 50%;
        left: -20%;
        transform: translate(-20%, -50%);
        opacity: 0.2;
    }

    #main-header {
    padding: 1.5em 0 1.5em;
 
   
}

    .nav-button {
        width: 30px;
        display: block;
        z-index: 11;
}

   

     #contact {
        padding: 5em 0;
    }

    .hero-container, .contact-wrapper,
    .section-row-container, .icon-container, #benefits .section-wrapper,
    .section-content-right .benefit-box  {
        flex-direction: column;
    }

    .section-content-right .benefit-box  {
        gap: 0;
        text-align: center;
    }

    .icon-container {
        gap: 1em;
    }

    #testimonials {
        padding: 2em 0;
    }

    #the-lab {
        background-attachment: scroll;
    }
    #the-lab img {
        width: 60%;
    }

    .hero-right, .section-right, .card-container {
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 2em 0 0 0;
    }

    .card-container {
        text-align: left;
    }

    .row-box {
        width: 100%;
    }

    .projects-container {
        padding: 3em 0;
    }

    .project-media {
        padding: 1em 0;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2em;
    }

    .button-mobile {
        margin: auto;
    }

    .project-media .lead {
        font-size: 2.5em;
        font-weight: 700;
        opacity: 0.3;
        padding: 0 0;
        width: 100%;
    }

    .transition-container {
        margin-top: -3%;
    }

    .review-container, .slides {
        padding: 0;
    }

    .review-container, .slide-content {
		width: 100%;
	}

    .social-media-nav .nav-link {
       font-size: 0.9em;
    }
    .social-media-nav .nav-link .rotating-link {
        text-decoration: underline;
    }

}

@media screen and  (min-width: 451px) and (max-width: 750px) {

    h1, #contact h2 {
        font-size: 2.1em;
    }

    .hero-title p, #contact header p {
        font-size: 1.05em;
    }

    h2{
        font-size: 1.5em;
    }

    #benefits h3 {
        font-size: 1.5em;
        display: block;

    }

     #benefits h4 {
        font-size: 0.75em;
    }



    .button-mobile, .project-header-mobile, .navigation-mobile {
        display: block;
    }
    .navigation, .project-content,
    .slide-background {
        display: none;
    }
    #controls, #benefits .section-content-left,
    #benefits .section-content-right, 
    .benefit-text, .hero-title p, .hero-left, .hero-right {
        width: 100%; 
    }

    #benefits, #benefits header {
        text-align: center;
    }

    #benefits .section-button {
        width: 60%;
    }

    #controls img {
        width: 22px;
    }


    #main-navbar, .section-wrapper {
        width: 85%;
    }

    #main-navbar{
        width: 85%;
    }

    #main-header {
    padding: 1.5em 0 1.5em 0;
   
}

    .nav-button {
        width: 30px;
        display: block;
        z-index: 11;
}

    #hero {
        padding: 6em 0 6em 0;
        height: auto;
        position: relative;
    }


    .hero-right img {
        position: absolute;
        top: 50%;
        left: -10%;
        transform: translate(-10%, -50%);
        opacity: 0.2;
        width: 40%;
    }

    .hero-container{
        justify-content: flex-start;
        align-items: center;
    }

     #contact {
        padding: 5em 0;
    }

    .hero-container, .contact-wrapper,
    .section-row-container, .icon-container, #benefits .section-wrapper,
    .section-content-right .benefit-box  {
        flex-direction: column;
    }

    .section-content-right .benefit-box  {
        gap: 0;
        text-align: center;
    }

    .icon-container {
        gap: 1em;
    }

    #testimonials {
        padding: 2em 0;
    }


    .hero-right, .section-right, .section-left, .card-container {
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 2em 0 0 0;
    }

    .card-container {
        text-align: left;
    }

    .row-box {
        width: 100%;
    }

    .projects-container {
        padding: 3em 0;
    }

    .projects-img {
        width: 50%;
    }

    .project-media {
        padding: 1em 0;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2em;
    }

    .button-mobile {
        margin: auto;
    }

    .project-media .lead {
        font-size: 2.5em;
        font-weight: 700;
        opacity: 0.3;
        padding: 0 0;
        width: 100%;
    }

    .transition-container {
        margin-top: -3%;
    }

    .review-container, .slides {
        padding: 0;
    }

    .review-container, .slide-content {
		width: 100%;
	}

    .social-media-nav .nav-link {
       font-size: 0.9em;
    }
    .social-media-nav .nav-link .rotating-link {
        text-decoration: underline;
    }

}

@media screen and  (min-width: 751px) and (max-width: 1024px) {
    h1, #contact h2 {
        font-size: 3.5em;
    }

    .hero-title p, #contact header p {
        font-size: 1.25em;
    }

    h2{
        font-size: 2em;
    }

    #benefits h3 {
        font-size: 2em;
        display: block;

    }

     #benefits h4 {
        font-size: 0.95em;
    }



    .button-mobile, .project-header-mobile, .navigation-mobile {
        display: block;
    }
    .navigation, .project-content,
    .slide-background {
        display: none;
    }
    #controls, #benefits .section-content-left,
    #benefits .section-content-right, 
    .benefit-text, .hero-left, .hero-right {
        width: 100%; 
    }

    #benefits, #benefits header {
        text-align: center;
    }

    #benefits .section-button {
        width: 60%;
    }

    #controls img {
        width: 22px;
    }

    #main-header {
    padding: 1.5em 0 1.5em 0;
   
}

    .nav-button {
        width: 30px;
        display: block;
        z-index: 11;
}

    #hero {
        padding: 6em 0 6em 0;
        position: relative;
    }


    .hero-right img {
        position: absolute;
        top: 50%;
        left: -10%;
        transform: translate(-10%, -50%);
        opacity: 0.2;
        width: 40%;
    }

    .hero-container{
        justify-content: flex-start;
        align-items: center;
    }

     #contact {
        padding: 5em 0;
    }

    .hero-container, .contact-wrapper,
    .section-row-container, .icon-container, #benefits .section-wrapper,
    .section-content-right .benefit-box  {
        flex-direction: column;
    }

    .section-content-right .benefit-box  {
        gap: 0;
        text-align: center;
    }

    .icon-container {
        gap: 1em;
    }

    #testimonials {
        padding: 2em 0;
    }


    .hero-right, .section-right, .section-left, .card-container {
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 2em 0 0 0;
    }

    .card-container {
        text-align: left;
    }

    .row-box {
        width: 100%;
    }

    .projects-container {
        padding: 3em 0;
    }

    .projects-img {
        width: 50%;
    }

    .project-media {
        padding: 1em 0;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2em;
    }

    .button-mobile {
        margin: auto;
    }

    .project-media .lead {
        font-size: 2.5em;
        font-weight: 700;
        opacity: 0.3;
        padding: 0 0;
        width: 100%;
    }

    .transition-container {
        margin-top: -3%;
    }

    .review-container, .slides {
        padding: 0;
    }

    .review-container, .slide-content {
		width: 100%;
	}

    .social-media-nav .nav-link {
       font-size: 0.9em;
    }
    .social-media-nav .nav-link .rotating-link {
        text-decoration: underline;
    }


}

@media screen and  (min-width: 1025px) and (max-width: 1112px)  {
     #benefits .section-button {
        width: 70%;
    }

}

@media screen and  (min-width: 1950px) {
    #main-navbar, .section-wrapper {
        width: 60%;
        margin: auto;
    }

    h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 3em;
    }

    .hero-title p, #contact header p {
        font-size: 1.5em;
    }

    #main-header .logo-link img{
        width: 50%;
    }


}